<div class="profile-container">


  <div class="authBlock">
    <h3>Forgot Password</h3>

    <div class="formGroup">
      <input type="email" class="form-control" ngModel name="username" placeholder="Email Address" #passwordResetEmail
        required>
    </div>

    <div class="formGroup">
      <input type="submit" class="btn btn-primary btn-block" value="Reset Password"
        (click)="authService.ForgotPassword(passwordResetEmail.value)">
    </div>
    <div class="redirectToLogin">
      <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </div>
</div>