<div class="container-fluid displayTable">
    <nav class="navbar bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">
                <img src="/assets/icons/icon-72x72.png" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                Popular Movies
            </a>
            <div class="d-flex">
             <div *ngIf="authService.userState"class="dropdown  me-4">
                    <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                       My Account
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="['/profile']">Profile</a></li>
                      <li><a class="dropdown-item">Logout</a></li>
                    </ul>
                  </div>
            </div>  
        </div>    
    </nav>
    <router-outlet></router-outlet>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Footer</a>
        </div>
      </nav>
</div>


