<div class="profile-container">
  <div class="row">

    <div class="profile-container flex-column" *ngIf="!(authService.userState)">
      <div class="placeholder">
        <app-spinner></app-spinner>
      </div>
    </div>
    <div class="authBlock" *ngIf="authService.userState as user">
        <div class="profile-content">
   
            <img class="align-self-start m-3 img-thumbnail rounded-circle"
              src="{{(user.photoURL) ? user.photoURL : '/assets/icons/icon-128x128.png'}}" alt="{{user.displayName}}">
            <div class="media-body">
              <h2>Hi {{(user.displayName) ? user.displayName : ' there,'}}</h2>
              <p>Email: <strong>{{user.email}}</strong></p>
                <div class="redirectToLogin" *ngIf="!authService.userState.emailVerified">
                  <span>Verify your </span> <span class="redirect" (click)="authService.SendVerificationMail()">email</span>
                </div>
            </div>
            <div class="mb-2">
              <button class="btn btn-outline-primary" (click)="authService.EditProfile()">
                Edit profile
              </button>
              <button class="btn btn-outline-danger m-2" (click)="authService.SignOut()">
                Sign Out
              </button>
        
        </div>
      </div>
    </div>
  </div>
</div>