.placeholder {
  width: 20%;
  height: 100/3%;
  padding: 2em;
  background-color: #dce2e8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
